<section class="cases">
  <div class="cases-container container">
    <div class="cases-body">
      <div class="cases-header">
        <div class="cases-heading">
          <h6 class="cases-title">
            наши кейсы
          </h6>
          <span class="cases-heading__bar"></span>
        </div>
        <div class="cases-navigation">
          <button class="cases-navigation__button cases-navigation__button--prev">
            < назад
          </button>
          <button class="cases-navigation__button cases-navigation__button--next">
            вперед >
          </button>
        </div>
      </div>
      <div class="cases-slider swiper">
        <ul class="cases-list swiper-wrapper">
          <li class="cases-list__item swiper-slide">
            <div class="cases-list__image">
              <img src="../../img/cases/casesImage_1.jpg" alt="slider">
            </div>
            <div class="cases-list__info">
              <span class="cases-list__name">
                анатолий грабовский
              </span>
              <p class="cases-list__position">Адвокат, Управляющий партнер</p>
            </div>
            <div class="cases-list__footer">
              <a href="#" class="button button--dark cases-list__link" target="_blank">
                кейс-портфолио
              </a>
              <div class="cases-list__contact">
                <a href="mailto:deureks.law@gmail.com" class="cases-list__email">
                  deureks.law@gmail.com
                </a>
                <a href="tel:78129423290" class="cases-list__tel">
                  +7 (812) 942-32-90
                </a>
              </div>
            </div>
          </li>
          <li class="cases-list__item swiper-slide">
            <div class="cases-list__image">
              <img src="../../img/cases/casesImage_2.jpg" alt="slider">
            </div>
            <div class="cases-list__info">
              <span class="cases-list__name">
                Петр московский
              </span>
              <p class="cases-list__position">Адвокат</p>
            </div>
            <div class="cases-list__footer">
              <a href="#" class="button button--dark cases-list__link" target="_blank">
                кейс-портфолио
              </a>
              <div class="cases-list__contact">
                <a href="mailto:deureks.law@gmail.com" class="cases-list__email">
                  deureks.law@gmail.com
                </a>
                <a href="tel:78129423290" class="cases-list__tel">
                  +7 (812) 942-32-90
                </a>
              </div>
            </div>
          </li>
          <li class="cases-list__item swiper-slide">
            <div class="cases-list__image">
              <img src="../../img/cases/casesImage_3.jpg" alt="slider">
            </div>
            <div class="cases-list__info">
              <span class="cases-list__name">
                григорий лепс
              </span>
              <p class="cases-list__position">Адвокат</p>
            </div>
            <div class="cases-list__footer">
              <a href="#" class="button button--dark cases-list__link" target="_blank">
                кейс-портфолио
              </a>
              <div class="cases-list__contact">
                <a href="mailto:deureks.law@gmail.com" class="cases-list__email">
                  deureks.law@gmail.com
                </a>
                <a href="tel:78129423290" class="cases-list__tel">
                  +7 (812) 942-32-90
                </a>
              </div>
            </div>
          </li>
          <li class="cases-list__item swiper-slide">
            <div class="cases-list__image">
              <img src="../../img/cases/casesImage_4.jpg" alt="slider">
            </div>
            <div class="cases-list__info">
              <span class="cases-list__name">
                Олег Дейнеко
              </span>
              <p class="cases-list__position">Адвокат, Управляющий партнер</p>
            </div>
            <div class="cases-list__footer">
              <a href="#" class="button button--dark cases-list__link" target="_blank">
                кейс-портфолио
              </a>
              <div class="cases-list__contact">
                <a href="mailto:deureks.law@gmail.com" class="cases-list__email">
                  deureks.law@gmail.com
                </a>
                <a href="tel:78129423290" class="cases-list__tel">
                  +7 (812) 942-32-90
                </a>
              </div>
            </div>
          </li>
          <li class="cases-list__item swiper-slide">
            <div class="cases-list__image">
              <img src="../../img/cases/casesImage_1.jpg" alt="slider">
            </div>
            <div class="cases-list__info">
              <span class="cases-list__name">
                Олег Дейнеко
              </span>
              <p class="cases-list__position">Адвокат, Управляющий партнер</p>
            </div>
            <div class="cases-list__footer">
              <a href="#" class="button button--dark cases-list__link" target="_blank">
                кейс-портфолио
              </a>
              <div class="cases-list__contact">
                <a href="mailto:deureks.law@gmail.com" class="cases-list__email">
                  deureks.law@gmail.com
                </a>
                <a href="tel:78129423290" class="cases-list__tel">
                  +7 (812) 942-32-90
                </a>
              </div>
            </div>
          </li>
          <li class="cases-list__item swiper-slide">
            <div class="cases-list__image">
              <img src="../../img/cases/casesImage_1.jpg" alt="slider">
            </div>
            <div class="cases-list__info">
              <span class="cases-list__name">
                анатолий грабовский
              </span>
              <p class="cases-list__position">Адвокат, Управляющий партнер</p>
            </div>
            <div class="cases-list__footer">
              <a href="#" class="button button--dark cases-list__link" target="_blank">
                кейс-портфолио
              </a>
              <div class="cases-list__contact">
                <a href="mailto:deureks.law@gmail.com" class="cases-list__email">
                  deureks.law@gmail.com
                </a>
                <a href="tel:78129423290" class="cases-list__tel">
                  +7 (812) 942-32-90
                </a>
              </div>
            </div>
          </li>
          <li class="cases-list__item swiper-slide">
            <div class="cases-list__image">
              <img src="../../img/cases/casesImage_1.jpg" alt="slider">
            </div>
            <div class="cases-list__info">
              <span class="cases-list__name">
                анатолий грабовский
              </span>
              <p class="cases-list__position">Адвокат, Управляющий партнер</p>
            </div>
            <div class="cases-list__footer">
              <a href="#" class="button button--dark cases-list__link" target="_blank">
                кейс-портфолио
              </a>
              <div class="cases-list__contact">
                <a href="mailto:deureks.law@gmail.com" class="cases-list__email">
                  deureks.law@gmail.com
                </a>
                <a href="tel:78129423290" class="cases-list__tel">
                  +7 (812) 942-32-90
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
