<section class="home">
  <div class="home-container container">
    <div class="home-body">
      <div class="home-promos">
        <div class="home-promo__item">
          <div class="home-promo__header">
            30+ лет
          </div>
          <div class="home-promo__footer">
            Успешной работы
          </div>
        </div>
        <div class="home-promo__item">
          <div class="home-promo__header">
            30+ лет
          </div>
          <div class="home-promo__footer">
            Успешной работы
          </div>
        </div>
      </div>
      <img src="../../img/home/homePersonImage.webp" alt="person" class="home-person">
      <div class="home-content">
        <div class="home-main">
          <span class="home-label">
            де-юрекс
          </span>
          <h1 class="home-title">
            Закон защищает <br>
            <span class="home-title__subtitle">тех, у кого сильный
              адвокат</span>
          </h1>
          <div class="home-actions">
            <a href="#" target="_blank" class="home-actions__tg button button--blue">
              telegram
            </a>
            <a href="#" target="_blank" class="home-actions__wa button button--green">
              whatsapp
            </a>
            <a href="home-actions__schdedule">
              записаться
            </a>
          </div>
        </div>
        <div class="home-contact">
          <div class="home-contact__item">
            <div class="home-contact__bar"></div>
            <div class="home-contact__info">
              <a href="tel:+78125027244" class="home-contact__tel">
                +7 (812) 502-72-44
              </a>
              <span>москва</span>
            </div>
          </div>
          <div class="home-contact__item">
            <div class="home-contact__bar"></div>
            <div class="home-contact__info">
              <a href="tel:+78125027244" class="home-contact__tel">
                +7 (812) 502-72-44
              </a>
              <span>москва</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
