<section class="home">
  <div class="home-container container">
    <div class="home-body">
      <div class="home-character" data-aos="fade" data-aos-duration="500" data-aos-delay="1000">
        <img src="../../img/gifAnimation.gif" class="home-character__animation" />
        <img src="../../img/home/homeMainCharacter.webp" class="home-character__image" alt="character">
      </div>
      <div class="home-header" data-aos="fade-down" data-aos-duration="400">
        <h1 class="home-title">
          imbagames
        </h1>
        <div class="home-promo">
          <div class="home-counter">
            <div class="home-counter__remaining">
              до открытия осталось
            </div>
            <ul class="home-counter__units">
              <li class="home-counter__value">
                <span class="home-counter__digit">
                  05
                </span>
                <span class="home-counter__format">
                  дни
                </span>
              </li>
              <span class="home-counter__bar"></span>
              <li class="home-counter__value">
                <span class="home-counter__digit">
                  12
                </span>
                <span class="home-counter__format">
                  час
                </span>
              </li>
              <span class="home-counter__bar"></span>
              <li class="home-counter__value">
                <span class="home-counter__digit">
                  36
                </span>
                <span class="home-counter__format">
                  мин
                </span>
              </li>
              <span class="home-counter__bar"></span>
              <li class="home-counter__value">
                <span class="home-counter__digit">
                  36
                </span>
                <span class="home-counter__format">
                  сек
                </span>
              </li>
            </ul>
          </div>
          <div class="home-opening">
            <span class="home-opening__title">
              открытие сервера
            </span>
            <span class="home-opening__date">
              12 января
            </span>
          </div>
        </div>
      </div>
      <div class="home-update" data-aos="fade-down" data-aos-duration="400" data-aos-delay="500">
        <div class="home-update__class">
          <span class="home-update__class_hl">update</span>
          New Class: Varkas
        </div>
        <button class="home-start">
          start a game
        </button>
      </div>
    </div>
  </div>
</section>
