<section class="offices">
  <div class="offices-container container">
    <div class="offices-body">
      <ul class="offices-grid">
        <a href="#" class="offices-item" target="_blank">
          <img src="../../img/offices/officeBg_1.webp" alt="bg" class="offices-background">
          <div class="offices-info">
            <span class="offices-order">офис #1</span>
            <span class="offices-city">
              Г.МОсква
            </span>
            <span class="offices-tel">
              +7 (812) 942-32-90
            </span>
          </div>
        </a>
        <a href="#" class="offices-item" target="_blank">
          <img src="../../img/offices/officeBg_1.webp" alt="bg" class="offices-background">
          <div class="offices-info">
            <span class="offices-order">офис #1</span>
            <span class="offices-city">
              Г.МОсква
            </span>
            <span class="offices-tel">
              +7 (812) 942-32-90
            </span>
          </div>
        </a>
        <a href="#" class="offices-item" target="_blank">
          <img src="../../img/offices/officeBg_1.webp" alt="bg" class="offices-background">
          <div class="offices-info">
            <span class="offices-order">офис #1</span>
            <span class="offices-city">
              Г.МОсква
            </span>
            <span class="offices-tel">
              +7 (812) 942-32-90
            </span>
          </div>
        </a>
        <a href="#" class="offices-item" target="_blank">
          <img src="../../img/offices/officeBg_1.webp" alt="bg" class="offices-background">
          <div class="offices-info">
            <span class="offices-order">офис #1</span>
            <span class="offices-city">
              Г.МОсква
            </span>
            <span class="offices-tel">
              +7 (812) 942-32-90
            </span>
          </div>
        </a>
        <a href="#" class="offices-item" target="_blank">
          <img src="../../img/offices/officeBg_1.webp" alt="bg" class="offices-background">
          <div class="offices-info">
            <span class="offices-order">офис #1</span>
            <span class="offices-city">
              Г.МОсква
            </span>
            <span class="offices-tel">
              +7 (812) 942-32-90
            </span>
          </div>
        </a>
        <a href="#" class="offices-item" target="_blank">
          <img src="../../img/offices/officeBg_1.webp" alt="bg" class="offices-background">
          <div class="offices-info">
            <span class="offices-order">офис #1</span>
            <span class="offices-city">
              Г.МОсква
            </span>
            <span class="offices-tel">
              +7 (812) 942-32-90
            </span>
          </div>
        </a>
        <a href="#" class="offices-item" target="_blank">
          <img src="../../img/offices/officeBg_1.webp" alt="bg" class="offices-background">
          <div class="offices-info">
            <span class="offices-order">офис #1</span>
            <span class="offices-city">
              Г.МОсква
            </span>
            <span class="offices-tel">
              +7 (812) 942-32-90
            </span>
          </div>
        </a>
        <a href="#" class="offices-item" target="_blank">
          <img src="../../img/offices/officeBg_1.webp" alt="bg" class="offices-background">
          <div class="offices-info">
            <span class="offices-order">офис #1</span>
            <span class="offices-city">
              Г.МОсква
            </span>
            <span class="offices-tel">
              +7 (812) 942-32-90
            </span>
          </div>
        </a>
      </ul>
    </div>
  </div>
</section>
