<section class="rating">
  <div class="rating-container container">
    <div class="rating-body">
      <h6 class="rating-heading heading">
        наш рейтинг
      </h6>
      <div class="rating-blocks">
        <div class="rating-blocks__item">
          <div class="rating-blocks__info">
            <span class="rating-blocks__heading">
              Грабовский Анатолий Аркадьевич
            </span>
            <p>
              - Юрист фирмы защитил доверителя от требований государственного органа — Комитета имущественных отношений...
            </p>
          </div>
          <div class="rating-blocks__col">
            <img src="../../img/rate/rateColImage_1.webp" alt="image" class="rating-blocks__image">
            <a href="#" class="rating-blocks__link button button--dark" target="_blank">
              подробнее
            </a>
          </div>
        </div>
        <div class="rating-blocks__item">
          <div class="rating-blocks__info">
            <span class="rating-blocks__heading">
              Грабовский Анатолий Аркадьевич
            </span>
            <p>
              - Юрист фирмы защитил доверителя от требований государственного органа — Комитета имущественных отношений...
            </p>
          </div>
          <div class="rating-blocks__col">
            <img src="../../img/rate/rateColImage_2.webp" alt="image" class="rating-blocks__image">
            <a href="#" class="rating-blocks__link button button--white" target="_blank">
              подробнее
            </a>
          </div>
        </div>
      </div>
      <ul class="rating-cols">
        <li class="rating-cols__item">
          <span class="rating-cols__heading">
            2000+
          </span>
          <p class="rating-cols__description">
            - Юрист фирмы защитил доверителя от требований государственного органа — Комитета имущественных отношений...
          </p>
        </li>
        <li class="rating-cols__item">
          <span class="rating-cols__heading">
            2000+
          </span>
          <p class="rating-cols__description">
            - Юрист фирмы защитил доверителя от требований государственного органа — Комитета имущественных отношений...
          </p>
        </li>
        <li class="rating-cols__item">
          <span class="rating-cols__heading">
            2000+
          </span>
          <p class="rating-cols__description">
            - Юрист фирмы защитил доверителя от требований государственного органа — Комитета имущественных отношений...
          </p>
        </li>
      </ul>
      <div class="rating-promo">
        <div class="rating-promo__bar"></div>
        <div class="rating-promo__center">
          <span class="rating-promo__heading">
            Остались вопросы ?
          </span>
          <p class="rating-promo__description">
            свяжитесь с нами, <br> мы рады будем помочь!ё
          </p>
          <div class="rating-promo__actions">
            <button class="button button--blue button--small">
              telegram
            </button>
            <button class="button button--green button--small">
              whatsapp
            </button>
          </div>
        </div>
        <div class="rating-promo__bar"></div>
      </div>
    </div>
  </div>
</section>
