<section class="services">
  <div class="services-container container">
    <div class="services-body">
      <h5 class="services-heading heading">
        наши услуги
      </h5>
      <div class="services-cols">
        <div class="services-cols__item">
          <div class="services-cols__image">
            <img src="../../img/services/servicesColImage_1.webp" alt="image">
          </div>
          <ul class="services-list">
            <a href="#" target="_blank" class="services-list__item">
              <span class="services-list__order">
                01
              </span>
              <span class="services-list__description">
                Другие услуги
              </span>
            </a>
            <a href="#" target="_blank" class="services-list__item">
              <span class="services-list__order">
                01
              </span>
              <span class="services-list__description">
                Наследство
              </span>
            </a>
            <a href="#" target="_blank" class="services-list__item">
              <span class="services-list__order">
                01
              </span>
              <span class="services-list__description">
                Банкротство
              </span>
            </a>
            <a href="#" target="_blank" class="services-list__item">
              <span class="services-list__order">
                01
              </span>
              <span class="services-list__description">
                Уголовное право
              </span>
            </a>
            <a href="#" target="_blank" class="services-list__item">
              <span class="services-list__order">
                01
              </span>
              <span class="services-list__description">
                Недвижимость и
                строительство
              </span>
            </a>
            <a href="#" target="_blank" class="services-list__item">
              <span class="services-list__order">
                01
              </span>
              <span class="services-list__description">
                Интеллектуальное право
              </span>
            </a>
            <a href="#" target="_blank" class="services-list__item">
              <span class="services-list__order">
                01
              </span>
              <span class="services-list__description">
                Арбитражные споры
              </span>
            </a>
            <a href="#" target="_blank" class="services-list__item">
              <span class="services-list__order">
                01
              </span>
              <span class="services-list__description">
                Налоги
              </span>
            </a>
          </ul>
        </div>
        <div class="services-cols__item">
          <div class="services-cols__image">
            <img src="../../img/services/servicesColImage_2.webp" alt="image">
          </div>
          <ul class="services-list">
            <a href="#" target="_blank" class="services-list__item">
              <span class="services-list__order">
                01
              </span>
              <span class="services-list__description">
                Другие услуги
              </span>
            </a>
            <a href="#" target="_blank" class="services-list__item">
              <span class="services-list__order">
                01
              </span>
              <span class="services-list__description">
                Наследство
              </span>
            </a>
            <a href="#" target="_blank" class="services-list__item">
              <span class="services-list__order">
                01
              </span>
              <span class="services-list__description">
                Банкротство
              </span>
            </a>
            <a href="#" target="_blank" class="services-list__item">
              <span class="services-list__order">
                01
              </span>
              <span class="services-list__description">
                Уголовное право
              </span>
            </a>
            <a href="#" target="_blank" class="services-list__item">
              <span class="services-list__order">
                01
              </span>
              <span class="services-list__description">
                Недвижимость и
                строительство
              </span>
            </a>
            <a href="#" target="_blank" class="services-list__item">
              <span class="services-list__order">
                01
              </span>
              <span class="services-list__description">
                Интеллектуальное право
              </span>
            </a>
            <a href="#" target="_blank" class="services-list__item">
              <span class="services-list__order">
                01
              </span>
              <span class="services-list__description">
                Арбитражные споры
              </span>
            </a>
            <a href="#" target="_blank" class="services-list__item">
              <span class="services-list__order">
                01
              </span>
              <span class="services-list__description">
                Налоги
              </span>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
