<section class="support">
  <div class="support-container container">
    <div class="support-body">
      <div class="support-heading">
        <h2 class="support-heading__title">
          юридические услуги
        </h2>
        <div class="support-heading__bar"></div>
      </div>
      <div class="support-sections">
        <div class="support-col">
          <div class="support-col__block">
            <img class="support-col__image" src="../../img/support/supportColImage_1.jpg" alt="bg">
            <p class="support-col__description support-col__description--inner">
              Сопровождение сделки
              "Новгородского Бекона"
            </p>
          </div>
          <p class="support-col__description">
            ПАО Балтинвестбанк, Бадри Шенгелия, а также частные лица, владельцы крупных холдингов собственников недвижимости в историческом центре Санкт-Петербурга и Москвы.
          </p>
        </div>
        <div class="support-col">
          <div class="support-col__block">
            <img class="support-col__image" src="../../img/support/supportColImage_2.jpg" alt="bg">
            <p class="support-col__description support-col__description--inner">
              Доначисление НДС.
              Оптимизийруйте
              должную
              осмотрительность
            </p>
          </div>
        </div>
        <div class="support-col">
          <div class="support-col__block">
            <img class="support-col__image" src="../../img/support/supportColImage_3.jpg" alt="bg">
            <p class="support-col__description support-col__description--inner">Умные налоговые решения от <br>
              Санкт-Петербурга до Дубая</p>
          </div>
          <p class="support-col__description">
            Опыт партнёров фирмы адвоката Дейнеко Олега Олеговича и Грабовского Анатолия Аркадьевича включает в себя оказание правовой помощи и достижение результата в делах доверителей
          </p>
        </div>
      </div>
      <div class="support-about" style="background-image: url(../../img/support/aboutSupport_bg.jpg);">
        <div class="support-about__info">
          <h4 class="support-about__title">
            о компании
          </h4>
          <p class="support-about__description">
            Адвокатское бюро Грабовский и Дейнеко GRADE™ (Grabovskii & Deyneko Law Firm) объединяет опытных адвокатов, которые являются признанными специалистами в своей области. География услуг включает не только территорию России, но и СНГ, Европу, Дальний Восток, Северную Америку.
          </p>
          <a href="#" class="support-about__more button">
            подробнее
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
