<header class="header">
  <div class="header-container container" data-aos="fade-down" data-aos-delay="1500">
    <div class="header-row">
      <div class="header-logo">
        <img src="../img/logo.png" alt="logo">
      </div>
      <nav class="nav">
        <button class="header-close">
          <img src="../img/sprite/close-icon.svg" alt="icon">
        </button>
        <ul class="nav-list">
          <a href="#" class="nav-link">
            <span class="nav-link__top">
              account
            </span>
            <span class="nav-link__bottom">
              registration
            </span>
          </a>
          <a href="#" class="nav-link">
            <span class="nav-link__top">
              download
            </span>
            <span class="nav-link__bottom">
              game files
            </span>
          </a>
          <a href="#" class="nav-link">
            <span class="nav-link__top">
              community
            </span>
            <span class="nav-link__bottom">
              social networks
            </span>
          </a>
          <a href="#" class="nav-link">
            <span class="nav-link__top">
              media
            </span>
            <span class="nav-link__bottom">
              stream
            </span>
          </a>
          <a href="#" class="nav-link">
            <span class="nav-link__top">
              ranking
            </span>
            <span class="nav-link__bottom">
              statistics
            </span>
          </a>
        </ul>
      </nav>
      <div class="header-aside">
        <button class="header-profile">
          кабинет
        </button>
        <div class="header-lang">
          <div class="header-lang__selected">
            <img src="../img/flag.png" class="header-lang__flag" alt="flag">
            <img src="../img/arrow.png" class="header-lang__arrow" alt="arrow">
          </div>
          <div class="header-lang__hidden">
            <ul class="header-lang__list">
              <a href="#" class="header-lang__item">
                <img src="../img/flag.png" class="header-lang__flag" alt="flag">
              </a>
              <a href="#" class="header-lang__item">
                <img src="../img/flag.png" class="header-lang__flag" alt="flag">
              </a>
            </ul>
          </div>
        </div>
        <button class="header-menu">
          <img src="../img/sprite/menuIcon.svg" alt="menu">
        </button>
      </div>
    </div>
  </div>
</header>
