.support {
  --about-content-w: 52%;

  &-heading {
    display: flex;
    align-items: center;
    grid-gap: clamp(20px, 1.625vw, 26px);
    margin-bottom: 2rem;
    &__title {
      font-size: clamp(24px, 2.125vw, 34px);
      text-transform: uppercase;
      color: #1b222f;
      font-weight: 700;
    }
    &__bar {
      background-color: #1b222f;
      height: 2px;
      flex: 1;
    }
  }

  &-sections {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: clamp(18px, 1.5vw, 24px);
    margin-bottom: 3rem;
  }
  &-col {
    --h: clamp(260px, 20.375vw, 326px);
    display: flex;
    flex-direction: column;
    grid-gap: 18px;
    min-height: clamp(360px, 28.75vw, 460px);
    &:nth-child(1) {
      --shape: polygon(50% 0%, 100% 0, 100% 69%, 100% 100%, 10% 100%, 0 85%, 0 0);
      grid-column: span 5;
    }
    &:nth-child(2) {
      --shape: polygon(0 0, 100% 0, 100% 12%, 100% 100%, 12% 100%, 0 90%);;
      --h: 100%;

      grid-column: span 3;
      align-self: stretch;
    }
    &:nth-child(3) {
      --shape: polygon(86% 0%, 100% 0, 100% 9%, 100% 100%, 100% 100%, 0 100%, 0 0);
      grid-column: span 4;
      flex-direction: column-reverse;

      .support-col__description--inner {
        text-align: right;
      }
    }
    &__block {
      position: relative;
      height: var(--h);
      clip-path: var(--shape);
      display: flex;
      align-items: flex-end;
      padding: clamp(24px, 2.5vw, 40px);
      overflow: hidden;
      &::after {
        @include pseudo;
        width: 100%;
        height: 85%;
        background-image: linear-gradient(to top, rgba(var(--clr-b), .5) 60%, transparent);
        bottom: 0;
        pointer-events: none;
        left: 0;
        clip-path: inherit;
      }
    }
    &__description {
      font-size: clamp(14px, 1.0625vw, 17px);
      color: #1b222f;
      font-weight: 300;
      line-height: 120%;
      &--inner {
        color: rgba(var(--clr-w), 1);
        width: 100%;
        position: relative;
        z-index: 1;
        font-size: clamp(14px, 1.125vw, 18px);
      }
    }
    &__image {
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      clip-path: var(--shape);
      filter: grayscale(1);
      transition: all 400ms ease;
      will-change: transform, filter;
    }
    @include hover {
      .support-col__image {
        transform: scale(1.125);filter: grayscale(0);
      }
    }
  }
  &-about {
    padding: clamp(28px, 3vw, 48px) clamp(1rem, 1.5vw, 24px);

    color: rgba(var(--clr-w), 1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    &::before {
      @include pseudo;
      height: 100%;
      width: 100%;
      pointer-events: none;
      top: 0;
      left: 0;
      background-image: linear-gradient(to left, #242526, transparent 120%);
    }
    &__info {
      position: relative;
      max-width: var(--about-content-w);
      margin-left: auto;
    }
    &__title {
      margin-bottom: clamp(20px, 1.875vw, 30px);
      font-size: clamp(28px, 2.75vw, 44px);
      text-transform: uppercase;
      font-weight: 800;
      line-height: 100%;
    }
    &__description {
      color: rgba(var(--clr-w), 1);
      font-size: clamp(14px, 1.125vw, 18px);
      font-weight: 300;
      margin-bottom: 1.5rem;
    }
  }
}

@include tablet {
  .support {
    --about-content-w: 80%;
    &-heading {
      flex-direction: column;
      align-items: flex-start;
      grid-gap: 6px;
      &__bar {
        max-width: 50%;
        width: 100%;
        flex: none;
      }
    }
    &-sections {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 10px;
    }
    &-col {
      --shape: initial !important;
      min-height: auto;
      --h: 240px;
      &__block {
        padding: 2rem 1rem;
      }
      &:nth-child(1) {
        grid-column: span 4;
        flex-direction: column-reverse;
      }
      &:nth-child(2) {
        grid-column: span 1;
      }
      &:nth-child(3) {
        grid-column: span 5;
        flex-direction: column;

        .support-col__description--inner {
          text-align: left;
        }
      }
    }
    &-about {
      min-height: 280px;
      display: flex;
      align-items: center;
    }
  }
}

@include small-tablet {
  .support {
    --about-content-w: 80%;
    &-about {
      &__info {
        margin-right: auto;
      }
    }
  }
}

@include mobile {
  .support {
    --about-content-w: 100%;
    &-sections {
      grid-gap: 5px;
    }
    &-col {
      grid-gap: 12px;
      &__description {
        font-size: 11px;
        &--inner {
          font-size: 12px;
        }
      }
      &__block {
        padding: 1.5rem 12px;
      }
      &:nth-child(1) {
        --h: 200px;
        .support-col__block {
          .support-col__image {
            filter: grayscale(1);
          }
        }
      }
      &:nth-child(3) {
        --h: 200px;
      }
    }
    &-about {
      padding: 40px 14px;
      background-position: left;
      &::before {
        background-image: none;
        background-color: rgba(var(--clr-b), .65);
      }
    }
  }
}


